{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Contenido de página -->
<title>Quienes somos</title>
<!-- Banner: Inicio-->
<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content">
            <h4>QUIENES SOMOS</h4>
            <h2>Conocenos mejor...</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Banners: fin -->

<section class="about-us">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <img src="{% static 'assets/images/about-us-2.jpg' %}" alt="" max width="50%">
        <br></br>
        <h5>MISIÓN</h5>
        <p>Promover el intercambio cultural y el desarrollo humano a través de la educación, la palabra y la música,
          favoreciendo la inclusión de niños, jóvenes y adultos en situación de riesgo. Utilizar el arte y el lenguaje
          como pilares fundamentales. Promover y profundizar el estudio de la música como una alternativa creadora, de
          disciplina personal y proyecto de vida, que brinde posibilidades a los jóvenes ayudándolos a profesionalizar
          el arte y adoptándolo como medio de vida. Impulsar la creación de orquestas infantiles y juveniles entendiendo
          estos espacios como una herramienta de transformación social.</p>
        <h5>HISTORIA</h5>
        <p>El proyecto nace el 11 de noviembre de 2007 con clases de música, en donde se enseña teoría musical,
          instrumentos de viento y percusión. El 6 de septiembre de 2008, arranca como banda de música y realiza su
          primera presentación en público en el Encuentro de Danzas Españolas en el teatro Ateneo de la provincia Roque
          Saenz Peña, invitados por la señora Alicia Gaña. En noviembre del 2010, se comienza a dar clases de cuerdas
          (violín, violonchelo, contrabajo, viola). Desde ese momento, se transforma el conjunto en Orquesta.
          Actualmente, cuenta con 82 alumnos y la Orquesta con 50 integrantes. Además, cuenta con un programa de
          voluntariado internacional de música, que consiste en la visita de jóvenes de distintos países del mundo de
          orquestas profesionales que vienen a dictar clases de música. Eso ha permitido el crecimiento de la escuela y
          la orquesta.</p>
        <h5>RESPONSABLES</h5>
        <p>Ricardo Velazquez, Gonzalo Cejas y Nilce Bravo.</p>
      </div>
    </div>

    <!--div class="row">
      <div class="col-lg-6">

        <h4>Dos columnas: más información</h4>
        <p>Agregar mas info</p>
      </div>
      <div class="col-lg-6">
        <h4>Dos columnas: más información</h4>
        <p>Agregar mas info</p>
      </div>
    </div-->
  </div>
</section>

{% endblock %}