{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="" content="">
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet">

  <title>Fundación Vientos de Cambio</title>
  <link rel="icon" href="{% static 'assets/images/logo_vtos_cambio.JPG' %}">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


  <!-- Archivos adicionales CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/templatemo-stand-blog.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">

</head>

<body>

  <!-- ***** Precargador: inicio ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Precargador: fin***** -->

  <!-- Header -->
  <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <!--LOGO FUNDACIÓN VIENTOS DE CAMBIO-->
          <a class="navbar-brand" href="{% url 'posts:index' %}">
            <h2><img src="{% static 'assets/images/logo_vtos_cambio.JPG' %}" max width="150"><em></em></h2>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'posts:index' %}">INICIO<span class="sr-only"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">QUIENES SOMOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'posts:blog' %}">NOTICIAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">CONTACTO</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'usuarios:logout' %}">DESCONECTARSE</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'usuarios:login' %}">INICIAR SESIÓN</a>
            </li>
            {% endif %}
                <nav class="navbar navbar-dark bg-dark">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </nav>
              </ul>
            </div>  
        </div>
            </div>  
        </div>
            </div>  
        </div>
            </div>  
        </div>
            </div>  
            </div>  
      </div>
            </div>  
          </div>  
        </div>
      </nav> 
    </nav>
    </nav>
    </nav>
      </nav> 
    </nav>
      </nav> 
    </nav>
      </nav> 
    </nav>
      </nav> 
  </header>

  <!-- Contenido de página -->

  <!-- Banners: inicio -->

  <!--Banner Ends Here -->

  <!--Contenido cambiante-->
  <hr>
  <hr>
  <hr>
  {% block content %}

  {% endblock %}

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p style="text-align:center;"> Encontranos en nuestras redes &nbsp;
          <ul class="social-icons">
            <li>
              <title>Icon-fb</title>
              <link rel="stylesheet" href="{% static 'assets/css/estilo.css' %}">
              <script src="https://cdn-icons-png.flaticon.com/512/145/145802.png" crossorigin="anonymous"></script>

              <body>
                <a href="https://www.facebook.com/orquestavientosdecambio" class="fa fa-facebook" target="_blank"></a>

              </body>
            </li>

            <li>
              <title>Icon-WhatsApp</title>
              <link rel="stylesheet" href="{% static 'assets/css/estilo.css' %}">
              <!--Icon-Font-->
              <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

              <body>
                <a href="https://api.whatsapp.com/send?phone=3644574664" class="fa fa-whatsapp icono" target="_blank">
                </a>
              </body>
            </li>

            <li><a href="https://www.instagram.com/fvientosdecambio" class="fa fa-instagram" target="_blank"></a></li>
          </ul>
          </p>
        </div>
        <div class="col-lg-12"> 
          <p style="text-align:center">Colabora con nosotros &nbsp;
              <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
              <a href="https://donaronline.org/fundacion-vientos-de-cambio/aporte-solidario-orquesta-escuela-vientos-de-cambio?fbclid=IwAR1HdE7hAHcrN_7azsP41KjBC2K_D3Y0ezo6pMcgLp1SZ4dymmcNg53MUs8" ><i class="fa fa-credit-card" aria-hidden="true"></i></a>
          </p>
        </div> 
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2022 | Design: <a rel="nofollow" href="" target="_parent">Informatorio 2022 | Grupo 6</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Scripts Adicionales-->
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script src="{% static 'assets/js/owl.js' %}"></script>
  <script src="{% static 'assets/js/slick.js' %}"></script>
  <script src="{% static 'assets/js/isotope.js' %}"></script>
  <script src="{% static 'assets/js/accordions.js' %}"></script>

  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0;
    function clearField(t) {
      if (!cleared[t.id]) {
        cleared[t.id] = 1;
        t.value = '';
        t.style.color = '#fff';
      }
    }
  </script>

</body>

</html>