{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Contenido -->
<title>{{ post.title }}</title>
<!-- Banner: inicio -->
<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content">
            <h2>{{ post.title }}</h2>
            <ul class="post-info">
              <li><a href="#">{{ post.date_added }}</a></li>
            </ul>
            <h2></h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<!-- Banner: fin -->

<!--POST EN DETALLE-->
<section class="blog-posts grid-system">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="all-blog-posts">
          <div class="row">
            <div class="col-lg-12">
              <div class="blog-post">
                <div class="blog-thumb">
                  <img src="{{ post.imagen.url }}" alt="">
                </div>
                <!--<div class="down-content"> (1)-->
                <!--
                <div class="text-content">
                  <h4>{{ post.title }}</h4>
                  <h2></h2>
                </div> -->

                <!--<a href="{% url 'posts:post_detail' post.slug %}"></a>-->

                <!--Aquí estaba anteriormente la fecha-->


                <p>{{ post.body|safe }}</p>
                <!--ETIQUETAS
                  <di class="post-options">
                    <div class="row">
                      <div class="col-6">
                        <ul class="post-tags">
                          <li><i class="fa fa-tags"></i></li>
                          <li><a href="#">Etiquetas</a></li>
                        </ul>
                      </div>
                    </div>
                  </di>
                  -->
                <!--</div> (1)-->
              </div>
            </div>

          </div>
          <!--TAB-->
          <div class="container">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#login">Comenta...</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#face">¡Comenta con Facebook!</a>
              </li>
            </ul>

            <!-- Tab content -->
            <div class="tab-content">
              <div class="tab-pane container active" id="login">

                <!--COMENTARIOS CON LOGIN-->
                {% for comment in post.comments.all %}
                <div class="sidebar-item comments">
                  <div class="content">
                    <ul>
                      <li>
                        <div class="author-thumb">
                          <img src="{% static 'assets/images/comment-author-01.png' %}" alt="">
                        </div>
                        <div class="right-content">
                          <h4>{{ comment.name }}<span>{{ comment.date_added }}</span></h4>
                          <p>{{ comment.body|safe }}</p>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
                {% endfor %}

                {% if user.is_authenticated %}
                <div class="card my-4">
                  <h5 class="card-header">Deja un comentario:</h5>
                  <div class="card-body">
                    <form method="POST" action="{% url 'posts:post_detail' post.slug %}">
                      {% csrf_token %}
                      <input type="hidden" name="url" value="{{post.url}}" />
                      <input type="hidden" name="post" value="{{post.id}}" />
                      <div class="form-group">
                        <textarea class="form-control" name="comment" rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                  </div>
                </div>
                {% endif %}

              </div>
              <div class="tab-pane container fade" id="face">
                <!--COMENTARIOS CON FACEBOOK-->
                <p>
                <ul>
                  <div class="fb-like" data-href="{{request.build_absolute_uri}}" data-width="" data-layout="button"
                    data-action="like" data-size="large" data-share="true"></div>
                </ul>
                </p>
                <div class="col-lg-12">
                  <div class="sidebar-heading">
                    <div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-width="" data-numposts="5">
                    </div>
                  </div>


                </div>
              </div>
              <div class="tab-pane container fade" id="menu2">...</div>
            </div>
          </div>








          <!--COMENTARIOS-->

        </div>
      </div>
</section>
{% endblock %}