{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Contenido -->
<title>{{ post.title }}</title>
<!-- Banner: inicio -->
<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content">
            <h2>{{ post.title }}</h2>
            <ul class="post-info">
              <li><a href="#">{{ post.date_added }}</a></li>
            </ul>
            <h2></h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<!-- Banner: fin -->

<!--POST EN DETALLE-->
<section class="blog-posts grid-system">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="all-blog-posts">
          <div class="row">
            <div class="col-lg-12">
              <div class="blog-post">
                <div class="blog-thumb">
                  <img src="{{ post.imagen.url }}" alt="">
                </div>
                <!--<div class="down-content"> (1)-->
                <!--
                <div class="text-content">
                  <h4>{{ post.title }}</h4>
                  <h2></h2>
                </div> -->

                <!--<a href="{% url 'posts:post_detail' post.slug %}"></a>-->

                <!--Aquí estaba anteriormente la fecha-->


                <p>{{ post.body|safe }}</p>
                <!--ETIQUETAS
                  <di class="post-options">
                    <div class="row">
                      <div class="col-6">
                        <ul class="post-tags">
                          <li><i class="fa fa-tags"></i></li>
                          <li><a href="#">Etiquetas</a></li>
                        </ul>
                      </div>
                    </div>
                  </di>
                  -->
                <!--</div> (1)-->
              </div>
            </div>

          </div>

          <!--BOTONES DE FACEBOOK-->
          <p>
          <ul>
            <div class="fb-like" data-href="{{request.build_absolute_uri}}" data-width="" data-layout="button"
              data-action="like" data-size="large" data-share="true"></div>
          </ul>
          </p>


          <!--COMENTARIOS CON FACEBOOK-->
          <div class="col-lg-12">
            <div class="sidebar-heading">
              <div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-width="" data-numposts="5">
              </div>
            </div>
          </div>
        </div>
</section>
{% endblock %}