{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<!-- Contenido de página -->
<title>Quienes somos</title>
<!-- Banner: Inicio-->
<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content">
            <h4>QUIENES SOMOS</h4>
            <h2>Conocenos mejor...</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Banners: fin -->

<section class="about-us">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <img src="{% static 'assets/images/about-us.jpg' %}" alt="">
        <p><b><big>MISIÓN</big></b></p>
        <p>Promover el intercambio cultural y el desarrollo humano a través de la educación, la palabra y la música, favoreciendo la inclusión de niños, jóvenes y adultos en situación de riesgo. Utilizar el arte y el lenguaje como pilares fundamentales. Promover y profundizar el estudio de la música como una alternativa creadora, de disciplina personal y proyecto de vida, que brinde posibilidades a los jóvenes ayudándolos a profesionalizar el arte adoptándolo como medio de vida. Impulsar la creación de orquestas infantiles y juveniles entendiendo estos espacios como una herramienta de transformación social.</p>
        <p><b><big>HISTORIA</big></b></p>
        <p>El proyecto nace el 11 de noviembre de 2007, con clases de música, en donde se enseña teoría musical, instrumentos de viento y percusión. Comienza como banda de música y el 6 de septiembre de 2008 hace su primera presentación en público en el encuentro de danzas españolas en el teatro Ateneo de Pcia Roque sàenz Peña, invitados por la Señora Alicia Gaña. En el 2010, se comienza a dar clases de cuerdas (violín, violonchelo, contrabajo, viola) exactamente en el mes de noviembre. Desde ese momento se trasforma el conjunto en Orquesta. En sus inicios comienza con 9 alumnos. Actualmente, cuenta con 82 alumnos, y la orquesta está compuesta por 50 integrantes y cuenta con un programa de voluntariado internacional de música, que consiste en la visita de jóvenes de distintos países del mundo de orquestas profesionales, que viene a dictar clases de mùsica, quedándose tres meses en la cuidad. Eso ha permitido el crecimiento de la escuela y la orquesta.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h4>Dos columnas: más información</h4>
        <p>Agregar mas info</p>
      </div>
      <div class="col-lg-6">
        <h4>Dos columnas: más información</h4>
        <p>Agregar mas info</p>
      </div>
    </div>
    </div>
</section>

{% endblock %}