{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<!-- Contenido de página -->
<title>Quienes somos</title>
<!-- Banner: Inicio-->
<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content">
            <h4>QUIENES SOMOS</h4>
            <h2>Conocenos mejor...</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Banners: fin -->

<section class="about-us">
  <class="container">

    <div class="row">
      <div class="col-lg-12">
        <img src="{% static 'assets/images/about-us.jpg' %}" alt="">
        <p>Aqui va una descripción de la historia de la Fundación Vientos de cambio, qué hacen y demas...</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h4>Dos columnas: más información</h4>
        <p>Quisque bibendum cursus viverra. Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante
          euismod vel. Aliquam at metus sit amet nunc dapibus posuere.</p>
      </div>
      <div class="col-lg-6">
        <h4>Dos columnas: más información</h4>
        <p>Maecenas et metus nisl. Morbi ac interdum metus. Aliquam erat volutpat. Donec posuere tortor vel volutpat
          consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.</p>
      </div>
    </div>
    </div>
</section>

{% endblock %}