{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="main-banner header-text">
    <div class="container-fluid">
        <div class="owl-banner owl-carousel">
            {% for post in posts %}
            <div class="item">
                <img src="{{ post.imagen.url }}" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>{{ post.title }}</span>
                        </div>
                        <a href="{% url 'post_detail' post.slug %}">
                            <h4>{{ post.intro|safe }}</h4>
                        </a>
                        <ul class="post-info">
                            <li><a href="#">{{ post.date_added }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
</div>
{% endblock %}